.user {
    min-height: 250px;
    width: 240px;
    margin: 10px 10px 30px 10px;
    padding:  20px 30px;
    background: #fff;
    border-radius: 40px;
    border: .0625rem solid hsla(0,0%,87.8%,.5);
    /* da rivedere */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

@media only screen and (min-width:992px){
    .user {
        min-height: 280px;
        width: 200px;
        margin: 10px;
    }
}

.user__name {
    margin: 0 0 10px 0;
}

.user__address {
    margin: 0 0;
    color: #585858;
}

.user__button {
    width: 100%;
    display: block;
    margin:  30px auto 0 auto;

    padding: 10px 20px;
    border-radius: 30px;
    background: #01C6AD;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    align-self: flex-end;
}


/* thanks to https://manuelpinto.in */


.user__button:hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #01C6AD);
    background-size: 600% 600%;
    animation: gradient 5s ease infinite;
}


@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



